<div>
  <form [formGroup]="jobForm" (ngSubmit)="submit()">
    <table class="table">
      <thead>
      <tr>
        <th colspan="6" style="text-align: center;">
          <h1>
            <span *ngIf="job; else createForm">{{ EDIT_TITLE }}</span>
            <ng-template #createForm>{{ CREATE_TITLE }}</ng-template>
            <a class="btn btn-primary me-md-2" style="float: right;" routerLink="/job">Browse Jobs</a>
          </h1>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Summary</td>
          <td>
            <textarea formControlName="summary" cols="75" rows="5"></textarea>
            <div *ngIf="summary.invalid && (summary.dirty || summary.touched)">
              <p *ngIf="summary.errors?.required" class="error">Summary is required</p>
              <p *ngIf="summary.errors?.maxlength" class="error">Summary can only be 150 characters long</p>
            </div>
          </td>
        </tr>
       <tr>
          <td>Description</td>
          <td>
            <textarea formControlName="description" cols="75" rows="5"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)">
              <p *ngIf="description.errors?.required" class="error">Description is required</p>
              <p *ngIf="description.errors?.maxlength" class="error">Description can only be 500 characters long</p>
            </div>
          </td>
        </tr>
        <tr *ngIf="job">
          <td>Status</td>
          <td>
            <select formControlName="status">
              <option *ngFor="let status of statuses">{{ status }}</option>
            </select>
            <div *ngIf="status.invalid && (status.dirty || status.touched)">
              <p *ngIf="status.errors?.required" class="error">Status is required</p>
            </div>
          </td>
        </tr>
        <tr formGroupName="property">
          <td>Property Name</td>
          <td>
            <input type="text" formControlName="name" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <p *ngIf="name.errors?.required" class="error">Property name is required</p>
              <p *ngIf="name.errors?.maxlength" class="error">Property name can only be a 255 characters long</p>
            </div>
          </td>
        </tr>
        <tr formGroupName="raisedBy">
          <td>Raised By</td>
          <td>
            <div class="row">
              <div class="col-3">
                <label>Firstname</label>
                <input type="text" formControlName="firstname" />
                <div *ngIf="raisedByFirstname.invalid && (raisedByFirstname.dirty || raisedByFirstname.touched)">
                  <p *ngIf="raisedByFirstname.errors?.required" class="error">Raised by firstname is required</p>
                  <p *ngIf="raisedByFirstname.errors?.maxlength" class="error">Raised by surname can only be a 32 characters long</p>
                </div>
              </div>
              <div class="col-3">
                <label>Surname</label>
                <input type="text" formControlName="surname" />
                <div *ngIf="raisedBySurname.invalid && (raisedBySurname.dirty || raisedBySurname.touched)">
                  <p *ngIf="raisedBySurname.errors?.required" class="error">Raised by surname is required</p>
                  <p *ngIf="raisedBySurname.errors?.maxlength" class="error">Raised by surname can only be a 32 characters long</p>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="hidden" formControlName="id" />
            <input class="btn btn-success" type="submit" value="Submit"/>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
