<div>
  <h3 *ngIf="errorMessage.length > 0">{{ errorMessage }}</h3>
  <table class="table">
    <thead>
      <tr>
        <th colspan="6" style="text-align: center;">
          <h1>Jobs List <a class="btn btn-primary me-md-2" style="float: right;" routerLink="create">Create New</a></h1>
        </th>
      </tr>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Summary</th>
        <th scope="col">Property Name</th>
        <th scope="col">Status</th>
        <th scope="col">Raised By</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td><a routerLink="/job/view/{{ job.id }}">{{ job.id }}</a></td>
        <td>{{ job.summary }}</td>
        <td>{{ job.property.name }}</td>
        <td>{{ job.status }}</td>
        <td>{{ job.raisedBy.firstname + ' ' + job.raisedBy.surname }}</td>
        <td class="actions">
          <a routerLink="edit/{{ job.id }}"><i>Edit</i></a>
          <a href="#" (click)="deleteJob($event, job.id)"><i>Delete</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
