<h3 *ngIf="errorMessage.length > 0">{{ errorMessage }}</h3>
<div *ngIf="job">
  <table class="table">
    <thead>
    <tr>
      <th colspan="6" style="text-align: center;">
        <h1>
          Job View {{ job.id }}
          <a class="btn btn-danger me-md-2" style="float: right;" href="#" (click)="deleteJob($event)">Delete</a>
          <a class="btn btn-primary me-md-2" style="float: right;" routerLink="/job/edit/{{ job.id }}">Edit</a>
          <a class="btn btn-primary me-md-2" style="float: right;" routerLink="/job">Go Back</a>
        </h1>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ job.id }}</td>
      </tr>
      <tr>
        <td>Summary</td>
        <td>{{ job.summary }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ job.description }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ job.status }}</td>
      </tr>
      <tr>
        <td>Property Name</td>
        <td>{{ job.property.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
